doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='mad1841')
    title= 'Arcuisine'
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Font Awesome Fonts
    link(href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css', rel='stylesheet', type='text/css')
    // MG CSS
    link(href='css/metricsgraphics.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='css/simple-sidebar.css', rel='stylesheet', type='text/css')
    link(href='css/custom.css', rel='stylesheet', type='text/css')
  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      .container-fixed
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand', rel='home', href='#', title='Arcuisine', style='position: fixed; margin-left: 80px;')
            img(style='max-width:65px; margin-top: -5px; position: fixed; left: 15px;', src='/images/logo27Csmall.png')
            | Arcuisine
        div(class='navbar-collapse collapse', style='margin: 0px 0px 0px 180px;')
          ul(class='nav navbar-nav')
            li
              a(href='/profile') Home
            li
              a(href='/places') Places
            li(class='active')
              a(href='/group') Group
          ul(class='nav navbar-nav navbar-right', style='margin-right: 15px;')
            li
              a(href='#Settings', style='font-weight: bold;')= user.local.email
    div(class='container body-content', style='top:50px; position: absolute; width:100%; height: 100%; padding-left: 25px; padding-right: 25px; padding-top: 25px;')
      //-h1 Group
      //-hr
      .jumbotron(id='group-menu')
        h1 Group
        hr
        .row(id='group-list')
          .col-xs-6
            .col-xs-4
            .col-xs-4
              form(action='/group', method='post')
                button(type='submit', class='btn btn-lg')
                  | Create New
          .col-xs-6
            form(action='/group', method='post')
              .col-xs-4
                .form-group
                  //fieldset(data-role='controlgroup')
                  input(type='hidden', class='form-control', value=user.local.email, name='email')
                  input(type='hidden', class='form-control', value='join', name='action')
                  input(type='text', class='form-control', name='gid')
              .col-xs-4
                button(id='group-join', class='btn btn-lg')
                  | Join
      .row(id='group-content')
      //-#sidebar-wrapper(class='ui-resizable', style='top: 50px;')
      //-  ul(class='sidebar-nav', id='sidebar-val')
      //-#vertical-sep(class='vert-sep', style='top: 50px;')
      //-#page-content-wrapper(style='top: 50px;')
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core Javascript
    script(src='js/bootstrap.min.js')
    // socket.io
    script(src='/socket.io/socket.io.js')
    // Custom handler script
    script(src='js/group.js')
    // Menu Toggle Script
    script.
      $(".vert-sep").on("click", function(e){
        console.log('clicked');
        $("#wrapper").toggleClass("toggled");
      });
    // Vertical Separator Hover Script
    script.
      $(".vert-sep").hover(function(){
        $(this).addClass("sep-hover");
      }, function(){
        $(this).removeClass("sep-hover");
      });
